

<p class="text-center">
<span class="font-bold">Alain Fuchs, Président de l’Université PSL </span><br />
<span class="font-bold mb-2 inline-block">Vincent Laflèche, Directeur Général de Mines Paris – PSL</span><br />

<span class="mb-4 inline-block">ont le plaisir de convier leurs partenaires à la </span><br />

<span class="text-3xl font-bold">Soirée de lancement de l'ITN</span><br/>
<span>Mardi 5 décembre 2023 à 18h</span><br/>
<span>Salle Cortot, 78 rue Cardinet, Paris 17ème</span>

</p>