
---
import { Icon } from "astro-icon";

---


<p class="text-center">
<span class="font-bold">Alain Fuchs, Président de l’Université PSL </span><br />
<span class="font-bold mb-2 inline-block">Vincent Laflèche, Directeur Général de Mines Paris – PSL</span><br />

<span class="mb-4 inline-block">ont le plaisir de convier leurs partenaires à la </span><br />

<span class="text-3xl font-bold">Soirée de lancement de l'ITN</span><br/>
<span> <Icon
    class="w-4 h-4 inline relative -top-[2px]"
    name="tabler:calendar-event"
  /> Mardi 5 décembre 2023 à 18h</span><br/>
<span class="relative"> <Icon
    class="w-4 h-4 inline relative -top-[2px]"
    name="tabler:map-pin"
  /> Salle Cortot, 78 rue Cardinet, Paris 17ème</span>

</p>