

<p class="text-center text-xl">
 <span class="text-3xl font-bold">« Chopin et Wissmer en immersion » </span><br />
 <span class="font-normal">Soirée de lancement de </span> <br /> 
 <span class="font-bold">l’Institut des Transformations Numériques </span><br />
 <span class="font-normal">Mines Paris - PSL</span> <br/>
 Mardi 5 décembre à 20h00 <br/>
 Salle Cortot – 78 rue Cardinet, Paris 17ème
</p>