---
import { Icon } from "astro-icon";

---


<p class="text-center">
 <span class="text-3xl font-bold">Chopin et Wissmer en immersion</span><br />
 <span> <Icon
    class="w-4 h-4 inline relative -top-[2px]"
    name="tabler:calendar-event"
  /> Mardi 5 décembre 2023 à 20h</span><br/>
<span class="relative"> <Icon
    class="w-4 h-4 inline relative -top-[2px]"
    name="tabler:map-pin"
  /> Salle Cortot, 78 rue Cardinet, Paris 17ème</span>

</p>