---
import { Icon } from "astro-icon";
import Layout from "@layouts/NewLayout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Contactform from "@components/contactform.astro";
---

<Layout
  title="Contact"
  heading="Contact"
  description="Intéressé par les projets de l'ITN ? Devenons partenaires !">
  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
    <div>
      <h2 class="font-medium text-2xl text-gray-800">Renseignements</h2>
      <p class="text-lg leading-relaxed text-slate-500 mt-3">
        <p class="font-medium">Partenariat</p>
        <div class="flex mt-4">
          <Link
            href="../Institut des Transformations Numériques.pdf"
            type="submit"
            size="lg"
            style="outline"
            class="inline-block mx-auto">
            <span class="relative">
              <Icon class="inline w-4 h-4 mr-1 relative -top-px" name="book" /> Téléchargez
              la plaquette
            </span>
          </Link>
        </div>
      </p>
      <div class="mt-5">
        <p class="font-medium">Adresse & Contacts</p>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
          <span>ITN, 60 boulevard Saint-Michel, Paris</span>
        </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
            href="mailto:itn@minesparis.psl.eu">itn@minesparis.psl.eu</a
          >
        </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
            href="tel: 01 40 51 91 22">01 40 51 91 22</a
          >
        </div>
      </div>
    </div>
    <div>
      <Contactform />
    </div>
  </div>
</Layout>
