---
import Layout from "@layouts/NewLayout.astro";
import Portrait from "@components/portrait.astro";

const data = [
  {
    "name": "Brigitte d'Andréa-Novel",
    "role": "Directrice de l'ITN, Professeure",
    "email": "brigitte.dandrea-novel@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Automatique", "Robotique"],
      "Industries Créatives": ["Musique"],
    }
  },
  {
    "name": "Chloé-Agathe Azencott",
    "role": "Enseignante-Chercheuse",
    "email": "chloe-agathe.azencott@minesparis.psl.eu",
    "url": "https://cazencott.info/",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", "Science des données"],
      "Santé Numérique": ["Bioinformatique", "Recherche thérapeutique"],
      "Autres": ["Inclusivité"]
    }
  },
  {
    "name": "Philippe Kalousdian",
    "role": "Cofondateur ISLEAN & Président Mines Paris Alumni ",
    "email": "philippe.kalousdian@islean-consulting.com",
    "linkedin": "kalousdian",
    "skills": {
      "Autres": ["Stratégie", "Systèmes d'information", "Startups"]
    }
  },
  {
    "name": "Valérie Roy",
    "role": "Maîtresse de Recherche",
    "email": "valerie.roy@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Informatique embarquée", "Science des données"],
      "Santé Numérique": ["???"],
      "Autres": ["Formation"]
    }
  },
  {
    "name": "Véronique Stoven",
    "role": "Professeure",
    "email": "veronique.stoven@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique"],
      "Santé Numérique": ["Bioinformatique", "Biologie structurale"],
    }
  }
]

---

<Layout
  title="Equipe"
  description="Découvrez les acteurs de l'ITN">
  <div class="max-w-3xl my-12 m-auto flex flex-col gap-12">
    {data.map((datum) => <Portrait attrs={datum} />)}
  </div>
</Layout>
