---
import Layout from "@layouts/NewLayout.astro";
import Portrait from "@components/portrait.astro";

const data = [
  {
    "name": "Brigitte d'Andréa-Novel",
    "role": "Directrice de l'ITN, Professeur",
    "email": "brigitte.dandrea-novel@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Automatique", "Robotique"],
      "Industries Créatives": ["Musique"],
      "Santé Numérique": [],
    }
  },
  {
    "name": "Chloé-Agathe Azencott",
    "role": "Enseignante-Chercheuse",
    "email": "chloe-agathe.azencott@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage Automatique", "Science des données"],
      "Industries Créatives": [],
      "Santé Numérique": ["Bioinformatique", "Recherche Thérapeutique"],
    }
  },
  {
    "name": "Philippe Kalousdian",
    "role": "Cofondateur ISLEAN & Président Mines Paris Alumni ",
    "email": "philippe.kalousdian@islean-consulting.com",
    "skills": {
      "Ingénierie Numérique": [],
      "Industries Créatives": [],
      "Santé Numérique": [],
    }
  }
]

---

<Layout
  title="Equipe"
  description="Découvrez les acteurs de l'ITN">
  <div class="max-w-3xl my-12 m-auto flex flex-col gap-12">
    {data.map((datum) => <Portrait attrs={datum} />)}
  </div>
</Layout>
