---
import Layout from "@layouts/NewLayout.astro";
import Portrait from "@components/portrait.astro";

const data = [
  {
    "name": "Brigitte d'Andréa-Novel",
    "role": " Professeure, Directrice de l'ITN",
    "email": "brigitte.dandrea-novel@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Système dynamiques", "Robotique", "Véhicules autonomes"],
      "Industries Créatives": ["Musique"],
    }
  },
  {
    "name": "Chloé-Agathe Azencott",
    "role": "Enseignante-Chercheuse",
    "email": "chloe-agathe.azencott@minesparis.psl.eu",
    "url": "https://cazencott.info/",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", "Science des données"],
      "Santé Numérique": ["Bioinformatique", "Recherche thérapeutique"],
      "Autres": ["Inclusivité"]
    }
  },
  {
    "name": "Jean-Emmanuel Deschaud",
    "role": "Enseignant-Chercheur, Chef d'équipe",
    "email": "jean-emmanuel.deschaud@minesparis.psl.eu",
    "linkedin": "jeanemmanueldeschaud",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", 
      "Véhicules autonomes", "Modélisation 3D"],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Alexis Paljic",
    "role": "Enseignant-Chercheur, Chef d'équipe",
    "email": "alexis.paljic@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Réalité Virtuelle/Augmentée", "Interactions homme-machine"],
      "Santé Numérique": [],
      "Industries Créatives": ["Mondes virtuels", "Media & Création"],
      "Autres": []
    }
  },
  {
    "name": "Philippe Kalousdian",
    "role": "Cofondateur ISLEAN & Président Mines Paris Alumni ",
    "email": "philippe.kalousdian@islean-consulting.com",
    "linkedin": "kalousdian",
    "skills": {
      "Ingénierie Numérique": ["Systèmes d'information"],
      "Autres": ["Stratégie", "Startups"]
    }
  },
  {
    "name": "Sotiris Manitsaris",
    "role": "Enseignant-Chercheur, Chef d'équipe",
    "email": "sotiris.manitsaris@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", "Interactions homme-machine"],
      "Santé Numérique": [],
      "Industries Créatives": ["Mouvement & Corps"],
      "Autres": []
    }
  },
  {
    "name": "Valérie Roy",
    "role": "Enseignante-Chercheuse", //"Maîtresse de Recherche",
    "email": "valerie.roy@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Informatique", "Science des données"],
      "Santé Numérique": ["Données médicales"],
      "Autres": ["Formation"]
    }
  },
  {
    "name": "Véronique Stoven",
    "role": "Professeure",
    "email": "veronique.stoven@minesparis.psl.eu",
    "url": "https://curie.fr/personne/veronique-stoven",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique"],
      "Santé Numérique": ["Bioinformatique", "Biologie structurale", "Recherche thérapeutique"],
    }
  }
]

---

<Layout
  title="Equipe"
  description="Découvrez les acteurs de l'ITN">
  <div class="max-w-3xl my-12 m-auto flex flex-col gap-12">
    {data.map((datum) => <Portrait attrs={datum} />)}
  </div>
</Layout>
