---
import Layout from "@layouts/NewLayout.astro";
import Portrait from "@components/portrait.astro";

const data = [
  {
    "name": "Brigitte d'Andréa-Novel",
    "role": "Professeure, Directrice de l'ITN",
    "email": "brigitte.dandrea-novel@minesparis.psl.eu",
    "linkedin": "brigitte-d-andréa-novel-81a18527a",
    "skills": {
      "Ingénierie Numérique": ["Automatique", "Robotique", "Véhicules autonomes"],
      "Industries Créatives": ["Musique"],
    }
  },
  {
    "name": "Chloé-Agathe Azencott",
    "role": "Enseignante-chercheuse",
    "email": "chloe-agathe.azencott@minesparis.psl.eu",
    "url": "https://cazencott.info/",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", "Science des données"],
      "Santé Numérique": ["Bioinformatique", "Recherche thérapeutique"],
      "Autres": ["Inclusivité"]
    }
  },
  {
    "name": "Sébastien Boisgérault",
    "role": "Enseignant-chercheur",
    "email": "",
    "linkedin": "",
    "github": "boisgera",
    "skills": {
      "Ingénierie Numérique": ["Mathématiques Appliquées", "Ingénierie Logicielle"],
      "Santé Numérique": [],
      "Autres": ["Communs numériques", "Formation"]
    }
  },

  {
    "name": "Philippe Blanc",
    "role": "Directeur de recherche",
    "email": "philippe.blanc@minesparis.psl.eu",
    "linkedin": "drphilippeblanc",
    "skills": {
      "Ingénierie Numérique": [
          "Systèmes d'information géographique", 
          "Traitement d'images",
          "Science des données"
      ],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": ["Energies renouvelables", "Energie solaire"]
    }
  },
  {
    "name": "Myriam Cailloux",
    "role": "Responsable Administration et Finances",
    "email": "",
    "linkedin": "",
    "skills": {
      "Ingénierie Numérique": [],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Jérôme Crépin",
    "role": "Enseignant-chercheur, Directeur de centre",
    "email": "jerome.crepin@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": [
        "Systèmes mécaniques et multiphysiques",
        "Jumeaux numériques",
        "Calcul Haute Performance", 
        "Apprentissage informé par la physique",
      ],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": ["Prédiction de durée de vie des composants industriels"]
    }
  },
  {
    "name": "Cédric Dalmasso",
    "role": "Enseignant-chercheur, Directeur de centre",
    "email": "cedric.dalmasso@minesparis.psl.eu",
    "linkedin": "cédric-dalmasso-38447a43",
    "skills": {
      "Ingénierie Numérique": [],
      "Santé Numérique": ["Santé au travail"],
      "Autres": ["Sciences de Gestion", "Transformation numérique"]
    }
  },
  {
    "name": "Etienne Decencière Ferrandière",
    "role": "Directeur de recherche, Directeur de centre",
    "email": "etienne.decenciere_ferrandiere@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Analyse d'image", "Apprentissage profond"],
      "Santé Numérique": ["Biomédecine"],
      "Autres": ["Ecologie", "Détection d'anomalies"]
    }
  },
  {
    "name": "Jean-Emmanuel Deschaud",
    "role": "Enseignant-chercheur, Responsable d'équipe",
    "email": "jean-emmanuel.deschaud@minesparis.psl.eu",
    "linkedin": "jeanemmanueldeschaud",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", 
      "Véhicules autonomes", "Nuages de points 3D"],
      "Industries Créatives": ["Culture et Patrimoine"],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Nicolas Desassis",
    "role": "Enseignant-chercheur, Responsable d'équipe",
    "email": "nicolas.desassis@minesparis.psl.eu",
    "linkedin": "nicolas-desassis-956b0810",
    "skills": {
      "Ingénierie Numérique": [
        "Apprentissage profond",
        "Géostatistique", 
        "Logiciel scientifique",
        "Modèles génératifs",
        "Problèmes inverses", 
        "Simulation de fonctions aléatoires" 
      ],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Robin Girard",
    "role": "Enseignant-chercheur",
    "email": "robin.girard@minesparis.psl.eu",
    "url": "https://www.robingirard.eu/",
    "skills": {
      "Ingénierie Numérique": [
        "Apprentissage automatique", 
        "Systèmes d'information géographique",
        "Modélisation des systèmes énergétiques",
        "Numérique et transition bas carbone"],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": ["Energies renouvelables"]
    }
  },
  {
    "name": "Elie Hachem",
    "role": "Professeur, Directeur de centre",
    "email": "elie.hachem@minesparis.psl.eu",
    "linkedin": "ehachem",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage par renforcement", "Apprentissage informé par la physique", "Calcul haute performance", "Mécanique des fluides"],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Vincent Lagneau",
    "role": "Enseignant-chercheur, Directeur de centre",
    "email": "vincent.lagneau@minesparis.psl.eu",
    "linkedin": "vincent-lagneau-12284a95",
    "skills": {
      "Ingénierie Numérique": ["Analyse numérique", "Logiciel scientifique"],
      "Santé Numérique": [],
      "Autres": ["Géosciences"]
    }
  },
  {
    "name": "Pascal Le Masson",
    "role": "Professeur",
    "email": "pascal.le_masson@mines-paristech.fr",
    "linkedin": "pascal-le-masson-13583a82",
    "skills": {
      "Ingénierie Numérique": ["Modéles génératifs"],
      "Industries Créatives": ["Processus créatif"],
      "Santé Numérique": [],
      "Autres": ["Théorie de la conception", "Technologie et innovation"]
    }
  },
  {
    "name": "Beatriz Marcotegui",
    "role": "Professeure",
    "email": "beatriz.marcotegui@minesparis.psl.eu",
    "linkedin": "beatrizmarcotegui",
    "skills": {
      "Ingénierie Numérique": [
        "Analyse d'image", 
        "Apprentissage automatique",
        "Nuages de points 3D"
      ],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Alexis Paljic",
    "role": "Enseignant-chercheur, Responsable d'équipe",
    "email": "alexis.paljic@minesparis.psl.eu",
    "url": "https://www.caor.minesparis.psl.eu/presentation/virtual-reality-and-augmented-reality",
    "skills": {
      "Ingénierie Numérique": ["Réalité virtuelle/augmentée", "Interactions homme-machine"],
      "Santé Numérique": [],
      "Industries Créatives": ["Mondes virtuels", "Media & Création"],
      "Autres": []
    }
  },
  {
    "name": "Philippe Kalousdian",
    "role": "Cofondateur ISLEAN, Président Mines Paris Alumni ",
    "email": "philippe.kalousdian@islean-consulting.com",
    "linkedin": "kalousdian",
    "skills": {
      "Ingénierie Numérique": ["Systèmes d'information"],
      "Autres": ["Transformation numérique", "Stratégie digitale", "Startups"]
    }
  },
  {
    "name": "Sotiris Manitsaris",
    "role": "Enseignant-chercheur, Responsable d'équipe",
    "email": "sotiris.manitsaris@minesparis.psl.eu",
    "linkedin": "sotirismanitsaris",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique", "Interactions homme-machine"],
      "Santé Numérique": [],
      "Industries Créatives": ["Mouvement & Corps"],
      "Autres": []
    }
  },
  {
    "name": "Sébastien Perrin",
    "role": "Directeur de la Bibliothèque",
    "email": "sebastien.perrin@minesparis.psl.eu",
    "linkedin": "sebastien-perrin-48892157",
    "skills": {
      "Ingénierie Numérique": ["Edition numérique", "Données de la recherche", "Systèmes d'information"],
      "Industries Créatives": ["Culture et Patrimoine"],
      "Santé Numérique": [],
      "Autres": ["Science ouverte"]
    }
  },
  {
    "name": "Cédric Prunier",
    "role": "Directeur du développement, partenariats, entrepreneuriat et valorisation",
    "email": "cedric.prunier@minesparis.psl.eu",
    "linkedin": "cedricprunier",
    "skills": {
      "Ingénierie Numérique": [],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Thierry Ranchin",
    "role": "Professeur, Directeur de centre",
    "email": "thierry.ranchin@minesparis.psl.eu",
    "linkedin": "thierry-ranchin-2b88a932",
    "skills": {
      "Ingénierie Numérique": ["Traitement d'images", "Fusion de données"],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Valérie Roy",
    "role": "Enseignante-chercheuse", //"Maîtresse de Recherche",
    "email": "valerie.roy@minesparis.psl.eu",
    "skills": {
      "Ingénierie Numérique": ["Informatique", "Science des données"],
      "Santé Numérique": ["Données médicales"],
      "Autres": ["Formation"]
    }
  },
  {
    "name": "David Ryckelynck",
    "role": "Professeur, Responsable d'équipe",
    "email": "david.ryckelynck@mines-paristech.fr",
    "linkedin": "david-ryckelynck-36511092",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage de variétés", "Modélisation mécanique à base de graphes", "Mécanique des matériaux"],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Georges-André Silber",
    "role": "Enseignant-chercheur",
    "email": "georges-andre.silber@minesparis.psl.eu",
    "linkedin": "georges-andré-silber-ba51862a",
    "skills": {
      "Ingénierie Numérique": ["Compilation & Métaprogrammation", "Systèmes distribués & Parallélisme", "Langages dédiés"],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": []
    }
  },
  {
    "name": "Véronique Stoven",
    "role": "Professeure",
    "email": "veronique.stoven@minesparis.psl.eu",
    "url": "https://curie.fr/personne/veronique-stoven",
    "skills": {
      "Ingénierie Numérique": ["Apprentissage automatique"],
      "Santé Numérique": ["Bioinformatique", "Biologie structurale", "Recherche thérapeutique"],
    }
  },
  {
    "name": "Yannick Tillier",
    "role": "Professeur, Responsable d'équipe",
    "email": "yannick.tillier@minesparis.psl.eu",
    "linkedin": "yannick-tillier-4b00101b",
    "skills": {
      "Ingénierie Numérique": [
        "Elements finis", "Mécanique des matériaux", "Problèmes inverses"
      ],
      "Industries Créatives": [],
      "Santé Numérique": ["Biomécanique", "Biomatériaux"],
      "Autres": []
    }
  },
  {
    "name": "Yannick Vimont",
    "role": "Directeur de la Recherche",
    "email": "yannick.vimont@minesparis.psl.eu",
    "linkedin": "yannick-vimont-04565b10b",
    "skills": {
      "Ingénierie Numérique": [],
      "Industries Créatives": [],
      "Santé Numérique": [],
      "Autres": []
    }
  },
]

---

<Layout
  title="Equipe"
  description="Découvrez les visages de l'ITN">
  <div class="max-w-3xl my-12 m-auto flex flex-col gap-12">
    {data.map((datum) => <Portrait attrs={datum} />)}
  </div>
</Layout>
