---
import Layout from "@layouts/NewLayout.astro";
import Card from "@components/card.astro";

const cards = [
  {
    name: "Equipe de Direction",
    popular: false,
    features: [
      "Une directrice de l'ITN",
      "Une équipe opérationnelle",
      "Développement de l'ITN",
      "Lien institutionnel",
    ],
    button: {
      text: "En savoir plus",
      link: "/",
    },
  },
  {
    name: "Comité de Pilotage",
    popular: false,
    features: [
      "Organe interne",
      "~15 enseignants-chercheurs",
      "Lien écosystème Mines Paris",
      "Animation, groupes de travail",
    ],
    button: {
      text: "En savoir plus",
      link: "#",
    },
  },
  {
    name: "Conseil scientifique",
    popular: false,
    features: [
      "Organe externe",
      "Académiques & industriels",
      "Experts & partenaires",
      "Oriente la vision de l'ITN",
    ],
    button: {
      text: "En savoir plus",
      link: "/contact",
    },
  },
];
---

<Layout
  title="Organisation"
  description="Trois structures pour fédérer les travaux de Mines Paris – PSL dans le numérique">
  <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
    {cards.map((item) => <Card card={item} />)}
  </div>
</Layout>
