---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ITNLogo from "@components/itn-logo.astro";
// @ts-ignore
import { Icon } from "astro-icon";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<ITNLogo />

<!-- Ref: https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 -->
<div>
  <span class="text-3xl flex items-baseline gap-1">
    <span class="relative inline-block" style="top: 0.05em"
      ><Icon style="height: 0.825em;" name="simple-icons:react" /></span
    >
    <span class="font-bold text-slate-800">ITN</span>
  </span>
</div>

<hr />

<p class="txt-mercury">
  <svg
    aria-hidden="true"
    focusable="false"
    class="icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
    width="1em"
    height="1em"
    ><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
    <path
      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
    ></path></svg
  > Phone
</p>

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <div class="font-bold text-slate-800 text-base">
        <Icon class="h-8 md:h-12" name="simple-icons:react" /> ITN
      </div>
      <div class="font-bold text-slate-800 text-lg">ITN</div>

      <div class="font-bold text-slate-800 text-xl">ITN</div>
      <div class="font-bold text-slate-800 text-2xl">ITN</div>

      <div
        class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
        <span class="font-bold text-slate-800 text-3xl">
          <Icon class="h-8 md:h-12" name="simple-icons:react" />
          <span>ITN</span></span
        >
      </div>
    </div>

    <!-- Ref: https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 -->
    <div>
      <span class="text-3xl">
        <span><Icon class="h-10" name="simple-icons:react" /></span>
        <span class="font-bold text-slate-800">ITN</span>
        <span><Icon class="h-10" name="simple-icons:react" /></span>
      </span>
    </div>

    <p class="txt-mercury">
      <svg
        aria-hidden="true"
        focusable="false"
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="1em"
        height="1em"
        ><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
        <path
          d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
        ></path></svg
      >
    </p> Phone
  </Container>

  <div class="text-center mt-8">
    <a
      href="/"
      class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
      >← Back to Home</a
    >
  </div>

  <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
    <h2 class="font-bold text-3xl text-gray-800">
      Empowering the world with Astro.
    </h2>
    <p class="text-lg leading-relaxed text-slate-500">
      We're a multi-cultural team from around the world! We come from diverse
      backgrounds, bringing different personalities, experiences and skills to
      the job. This is what makes our team so special.
    </p>
  </div>
  <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
    {
      publishedTeamMembers.map((teamMemberEntry) => (
        <div class="group">
          <div class="w-full aspect-square">
            <Picture
              src={teamMemberEntry.data.avatar.src}
              alt={teamMemberEntry.data.avatar.alt}
              sizes="(max-width: 800px) 100vw, 400px"
              widths={[200, 400]}
              aspectRatio="1:1"
              background="#ffffff"
              fit="cover"
              position="center"
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
            />
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
            <h3 class="text-sm text-slate-500">{teamMemberEntry.data.title}</h3>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
