---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Développement industriel",
    description:
      "Accompagner la transition des projets de recherche et d'innovation de la startup vers l'industrie de masse.",
    icon: "building-factory-2",
  },
  {
    title: "Numérique et humain",
    description:
      "Accompagner l'humain dans les bouleversements induits par les transformations numériques.",
    icon: "heart-handshake",
  },
  {
    title: "Mines Paris & Numérique",
    description:
      "Simplifier l'accès à l'intégralité des projets de Mines Paris – PSL dans les sciences et technologies du numérique.",
    icon: "bx:bxs-user",
  },
  {
    title: "Diversité des transitions",
    description:
      "Adresser les besoins de tous les secteurs d'activité tels que l'ingénierie numérique, la santé ou les industries culturelles et créatives.",
    icon: "social",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Missions de l'institut
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    L'ITN est la structure de référence de Mines Paris – PSL pour les sciences
    et technologies du numérique.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
