---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Recherche",
    description: `Explorer fondements & applications des transformations numériques. 
    Développer les projets innovants basés sur ces recherches.`,
    icon: "microscope",
  },
  {
    title: "Formation",
    description: `Exploiter les outils numériques émergents pour la 
    formation. Enseigner les avancées des transformations numériques.`,
    icon: "school",
  },
  {
    title: "Industrie",
    description: `Accompagner la transformation des projets de recherche et 
    d'innovation de la startup vers l'industrie de masse.`,
    icon: "building-factory-2",
  },
  {
    title: "Ecosystème",
    description: `Donner accès à l'intégralité des projets de 
    Mines Paris – PSL dans les sciences et technologies du numérique.`,
    icon: "binary-tree-2",
  },
  {
    title: "Diversité",
    description: `Adresser les besoins de tous les secteurs d'activité tels que 
    l'ingénierie numérique, la santé ou les industries culturelles et créatives.`,
    icon: "chart-bubble",
  },

  {
    title: "Société",
    description: `Accompagner les individus et la société dans les bouleversements induits 
    par les transformations numériques.`,
    icon: "heart-handshake",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Missions de l'institut
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    L'ITN est la structure de référence de Mines Paris – PSL pour les sciences
    et technologies du numérique.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
