---
import { Icon } from "astro-icon";
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} ITN Mines Paris – PSL
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Design par <a href="https://github.com/boisgera">Sébastien Boisgérault</a>.
    <span class="relative">
      <span class="inline-block relative -top-px"
        ><a href="/mentions" aria-label="Mentions"
          ><Icon
            class="inline-block text-slate-500 w-3.5 h-3.5"
            name="brand-open-source"
          /></a
        >
        <Icon class="inline text-slate-500 w-3.5 h-3.5" name="cookie-off" />
      </span>
    </span>
  </p>
</footer>
