---
import { Icon } from "astro-icon";
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Made with
    <a href="mentions">
      <!-- <Icon class="inline text-slate-500 w-3.5 h-3.5" name="heart-filled" /> & -->
      open-source software
    </a>
  </p>
</footer>
