<span class="text-3xl flex items-baseline gap-1">
  <span class="relative inline-block" style="height:1em; top: 0.05em">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-code"
      width="36"
      height="36"
      viewBox="0 0 36 36"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round">
      <g transform="scale(1.5)">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 8l-4 4l4 4"></path>
        <path d="M17 8l4 4l-4 4"></path>
        <path d="M14 4l-4 16"></path>
      </g>
    </svg>
  </span>
  <span class="font-bold text-slate-800">ITN</span>
</span>
