---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">
    Un projet Mines Paris – Université PSL & Fondation Mines Paris
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="itn-logo" />
    <Icon class="h-8 md:h-12" name="mines-paris" />
    <Icon class="h-8 md:h-12" name="psl" />
  </div>
</div>
