---
import Topic from "/src/components/mareva-topic-alt.astro";
const { name } = Astro.props;
---

<li class="relative">
  <span style="margin-right:0.25em;"> 
    <Topic name={name} />
  </span>
  <slot />
</li>

