---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">
    Un projet Mines Paris – Université PSL & Fondation Mines Paris
  </h2>
  <div class="flex items-center justify-center mt-6">
    <Icon class="h-16 md:h-24" name="mines-paris-psl" />
  </div>
</div>
