---
import { Icon } from "astro-icon";

const { extra } = Astro.props;
---

<div class:list={["h-10 items-center gap-4", extra]}>
    <a href="https://twitter.com/ITN_MinesParis"
        ><Icon class="text-black w-6 h-6" name="brand-twitter" /></a
    >
    <a href="https://www.linkedin.com"
        ><Icon class="text-black w-6 h-6" name="brand-linkedin" /></a
    >
    <a href="https://github.com/orgs/ITN-Mines-Paris-PSL"
        ><Icon class="text-black w-6 h-6" name="brand-github" /></a
    >
</div>
