---
import { Icon } from "astro-icon";

const { extra } = Astro.props;
---

<div class:list={["h-10 items-center gap-4", extra]}>
  <a href="https://x.com/ITN_MinesParis" aria-label="X"
    ><Icon class="text-black w-6 h-6" name="brand-x" /></a
  >
  <a
    href="https://www.linkedin.com/in/itn-institut-des-transformations-num%C3%A9riques-mines-paris-psl-0b944027a"
    aria-label="Linkedin"
    ><Icon class="text-black w-6 h-6" name="brand-linkedin" /></a
  >
  <a href="https://github.com/orgs/ITN-Mines-Paris" aria-label="Github"
    ><Icon class="text-black w-6 h-6" name="brand-github" /></a
  >
</div>
