---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

import esquive1 from "assets/L'Art de l'Esquive 1.png";

const { id, title, image = esquive1 } = Astro.props;
const src = `https://www.youtube.com/embed/${id}`;
---

<a href={src} target="_blank" class="no-underline">
  <div class="relative bg-black aspect-video rounded overflow-hidden">
    <Image
      src={image}
      class="rounded-l-md m-0 absolute top-0 bottom-0"
      alt="Crossing the Landscape"
      loading="eager"
      format="avif"
    />

    <div class="bg-black opacity-60 absolute top-0 left-0 w-full h-8"></div>

    <div class="relative -left-2 flex flex-auto">
      <h6
        class="not-prose mx-auto text-white font-medium truncate whitespace-nowrap">
        <Icon
          name="brand-youtube"
          class="relative -top-px mr-1 inline-block w-6 h-6 text-white"
        />
        {title}
      </h6>
    </div>
  </div>
</a>
