---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/itn-web/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "ITN"
  : "Institut des Transformations Numériques";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Institut des Transformations Numériques, la structure de référence de Mines Paris – Université PSL dans les sciences et technologies du numérique."
      canonical={canonicalURL}
      twitter={{
        creator: "@boisgera",
        site: "@ITN_MinesParis",
        card: "summary_large_image",
        image: resolvedImageWithDomain,
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Institut des Transformations Numériques",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Capture d'écran du site de l'ITN",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
