---
import Layout from "@layouts/NewLayout.astro";
const { frontmatter } = Astro.props;
let { title, description, image, type = "article" } = frontmatter;
---

<Layout title={title} description={description} image={image} type={type}>
  <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
    <slot />
  </div>
</Layout>
