---
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Sectionhead>
    <Fragment slot="title">{frontmatter.title}</Fragment>
    <Fragment slot="desc">{frontmatter.desc}</Fragment>
  </Sectionhead>
  <Container>
    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <slot />
    </div>
  </Container>
</Layout>
